.shadow1 {
  box-shadow: -8px 9px 39px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -8px 9px 39px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -8px 9px 39px -2px rgba(0, 0, 0, 0.65);
}
.Login-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60vh;

  align-items: flex-start;
}
.Login-container > img {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: -1;
  max-width: 992px;
}
.Login-container > .a {
  display: flex;
  flex-direction: column;

  margin: 3%;
  padding: 10px;
  background-color: rgb(243, 241, 108);
  border-radius: 10px;
  width: 100%;
}
.Login-container > .a > input {
  margin: 0.5%;
  width: 50%;
}
.Login-container > .a > .checkb {
  align-self: flex-start;
  width: initial;
  bottom: 0;
  right: 0;
}
.Login-container > .a > button {
  align-self: flex-start;
  width: 50px;
  bottom: 0;
  right: 0;
  border-style: none;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .Login-container img {
    max-width: 992px;
  }
}

@media (min-width: 992px) {
  .Login-container > img {
    left: 0;
    /* transform: translate(0, 0); */
    transform: initial;
    position: relative;
    border-radius: 0 0 10px;
  }
  .Login-container > .a {
    border-radius: 10px 0 0 10px;
    margin: 0;
    right: 0;
    width: 33%;
    position: absolute;
    height: 80vh;
  }
  .Login-container > .a > input {
    /* align-self: flex-start; */
    margin: 0.5%;
    width: 100%;
  }
  .Login-container > .a > .checkb {
    align-self: flex-end;
    width: initial;
    /* justify-self: end;
    align-self: flex-end; */
    bottom: 0;
    right: 0;
  }
  .Login-container > .a > button {
    margin-top: 5px;
    align-self: flex-end;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
