body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
  padding: 0px;
}

.bg-warna {
  background-color: #003e4d;
  color: white;
}

.txt-link {
  text-decoration: none;
  color: initial;
}
.txt-link:hover {
  text-decoration: none !important;

  color: initial;
}

.link-breadCrumb {
  color: lightgrey;
}
.link-breadCrumb:hover {
  color: #003e4d;
}

.card-prod-img {
  height: 35vh !important;
  object-fit: cover;
}

.product-container {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100vh;
}

.detail-product-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "image detail"
    "ket ket";
  min-height: 80vh;
}

.detail-image {
  grid-area: image;
  background-color: lightpink;
  overflow: hidden;
}
.detail-prod {
  grid-area: detail;
}

.detail-ket {
  grid-area: ket;
}

.skeleton {
  animation: shine 1s linear infinite alternate;
}

@keyframes shine {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.cart-position {
  transform: translateY(35px) translatex(30px);
}
.cart-text {
  font-weight: 600;
  color: #003e4d;
}
